<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <script src="../static/js/Inquiry.js"></script>
    <script src="../static/js/viewInquiry.js"></script>
    <link rel="icon" href="data:,">
</head>

<body>
    <h1>메인 페이지</h1>

    <!-- 문의 작성 폼 -->
    <h2>문의 작성</h2>
    <form id="inquiry-form">
        <label for="content">내용:</label>
        <textarea id="content" name="content" rows="4" cols="50" required></textarea><br><br>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required><br><br>
        <button type="submit">문의글 작성</button>
    </form>

    <!-- 문의 조회 -->
    <h2>문의 조회</h2>
    <form id="view-inquiry-form">
        <label for="inquiry-id">문의 ID:</label>
        <input type="text" id="inquiry-id" name="inquiry-id" required>
        <label for="view-password">비밀번호:</label>
        <input type="password" id="view-password" name="view-password" required>
        <button type="submit">조회</button>
    </form>

    <div id="message" hidden>
        문의내용: <input type="text">
        <button type="submit" id="mod-btn">수정</button>
    </div>
    
    <div style="margin-top: 50px;" id="Result" class="table-section">
        여기에 db 리스트 전체 다 가지고 와주세요<p></p>
        <table id="wholeList" class="whole-table">
            <colgroup>
                <col style="width: 50px;">
                <col style="width: 200px">
                <col style="width: 100px;">
                <col style="width: 200px;">
                <col style="width: 200px;">
                <col style="width: 50px;">
            </colgroup>
            <thead>
                <tr align="left" style='font-weight: bold';>
                    <th>ID</th>
                    <th>CONTENT</th>
                    <th>PASSWORD</th>
                    <th>GENERATION_TIME</th>
                    <th>UPDATED_TIME</th>
                    <th></th>
                </tr>
            </thead>
            <!-- 가져오는 코드 -->
            <tbody id="listTbody"></tbody>
        </table>
    </div>

</body>
</html>
