<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의글 조회</title>

    <script src="../static/js/viewInquiry.js"></script>
</head>

<body>
    <h1>문의글 조회</h1>
    <form id="view-inquiry-form">
        <label for="inquiry-id">문의 ID:</label>
        <input type="text" id="inquiry-id" name="inquiry-id" required>
        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">조회</button>
        <button type="submit">수정</button>
    </form>
    <div id="message">

    </div>

</body>
</html>
